openapi: 3.2.0
info:
  title: Larridin Scout Proficiency API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Proficiency
  description: AI proficiency scoring, prompt categories, and conversation metrics. Period-based selection.
paths:
  /proficiency/score:
    get:
      operationId: getProficiencyScore
      summary: Returns AI proficiency score snapshot with prior-period comparison
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI proficiency score snapshot with prior-period comparison.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /proficiency/trends:
    get:
      operationId: getProficiencyTrends
      summary: Returns time-series AI proficiency score data
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series AI proficiency score data.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: percentiles[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /proficiency/prompt-categories:
    get:
      operationId: getProficiencyPromptCategories
      summary: Returns AI topic/prompt classification breakdown
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI topic/prompt classification breakdown.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: topics[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /proficiency/conversation-metrics:
    get:
      operationId: getProficiencyConversationMetrics
      summary: Returns time-series conversation-level interaction metrics
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series conversation-level interaction metrics.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
components:
  schemas:
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
  responses:
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
