openapi: 3.1.0
info:
  title: Larridin Scout Adoption API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence. All documented endpoints are read-only (GET) and return the standard Scout envelope `{ "success": true, "data": {...}, "query": {...} }`.


    Generated by the API Evangelist enrichment pipeline as a faithful transcription of the provider''s public reference at https://docs.larridin.com/api/scout-api-v1-reference. It is not a provider-published specification.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Adoption
  description: Organization- and department-level AI adoption metrics.
paths:
  /adoption/overview:
    get:
      operationId: getAdoptionOverview
      summary: Returns organization-level or department-level AI adoption overview metrics
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns organization-level or department-level AI adoption overview metrics.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id001
            type: string
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
  /adoption/trends:
    get:
      operationId: getAdoptionTrends
      summary: Returns time-series adoption metrics with optional grouping
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series adoption metrics with optional grouping.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: metrics
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id002
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id002
      - name: platform[]
        in: query
        required: false
        schema:
          type: array
          items: *id002
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id002
  /adoption/breakdown:
    get:
      operationId: getAdoptionBreakdown
      summary: Returns detailed breakdown of AI adoption by tools or departments, with pagination
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed breakdown of AI adoption by tools or departments, with pagination.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id003
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: platform[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
