openapi: 3.1.0
info:
  title: Larridin Scout Adoption Tools API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence. All documented endpoints are read-only (GET) and return the standard Scout envelope `{ "success": true, "data": {...}, "query": {...} }`.


    Generated by the API Evangelist enrichment pipeline as a faithful transcription of the provider''s public reference at https://docs.larridin.com/api/scout-api-v1-reference. It is not a provider-published specification.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Tools
  description: Browser and desktop AI tool adoption, policy enforcement, and unapproved tool discovery.
paths:
  /tools/browser/overview:
    get:
      operationId: getToolsBrowserOverview
      summary: Returns browser platform AI adoption overview metrics
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns browser platform AI adoption overview metrics.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
  /tools/browser/trends:
    get:
      operationId: getToolsBrowserTrends
      summary: Returns time-series browser adoption data
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series browser adoption data.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id001
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /tools/browser/breakdown:
    get:
      operationId: getToolsBrowserBreakdown
      summary: Returns detailed breakdown of browser AI usage by tools or departments
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed breakdown of browser AI usage by tools or departments.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id002
            type: string
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id002
  /tools/desktop/overview:
    get:
      operationId: getToolsDesktopOverview
      summary: Same parameters as browser overview. Returns
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/desktop/trends:
    get:
      operationId: getToolsDesktopTrends
      summary: Same parameters as browser trends. Same response shape
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Same parameters as browser trends. Same response shape.
  /tools/desktop/breakdown:
    get:
      operationId: getToolsDesktopBreakdown
      summary: Desktop breakdown is tools-only (no department grouping)
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Desktop breakdown is tools-only (no department grouping).
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
  /tools/{toolId}:
    get:
      operationId: getToolsByToolid
      summary: Returns metrics for a specific tool over time
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns metrics for a specific tool over time.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
  /tools/user-tool-usage:
    get:
      operationId: getToolsUserToolUsage
      summary: Returns user-level AI tool usage data
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns user-level AI tool usage data.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: departmentName[]
        in: query
        required: false
        schema:
          type: array
          items: &id003
            type: string
      - name: userEmail[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: toolName[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: toolDomain[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /tools/policy/enforcement-overview:
    get:
      operationId: getToolsPolicyEnforcementOverview
      summary: GET /tools/policy/enforcement-overview
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/policy/enforcement-breakdown:
    get:
      operationId: getToolsPolicyEnforcementBreakdown
      summary: GET /tools/policy/enforcement-breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/policy/breakdown:
    get:
      operationId: getToolsPolicyBreakdown
      summary: GET /tools/policy/breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/unapproved/overview:
    get:
      operationId: getToolsUnapprovedOverview
      summary: GET /tools/unapproved/overview
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/unapproved/breakdown:
    get:
      operationId: getToolsUnapprovedBreakdown
      summary: GET /tools/unapproved/breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
