openapi: 3.1.0
info:
  title: Larridin Scout Adoption Workflow Intelligence API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence. All documented endpoints are read-only (GET) and return the standard Scout envelope `{ "success": true, "data": {...}, "query": {...} }`.


    Generated by the API Evangelist enrichment pipeline as a faithful transcription of the provider''s public reference at https://docs.larridin.com/api/scout-api-v1-reference. It is not a provider-published specification.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Workflow Intelligence
  description: Clustered workflow analysis, friction, recommendations, and tool verdicts.
paths:
  /workflow/overview:
    get:
      operationId: getWorkflowOverview
      summary: Returns organization-level (or reporting-group–scoped) workflow friction and AI-clustering summary
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns organization-level (or reporting-group–scoped) workflow friction and AI-clustering summary.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
  /workflow/completed-periods:
    get:
      operationId: getWorkflowCompletedPeriods
      summary: Returns the most recent four-week periods that have completed workflow data. Use these as valid
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: numPeriods
        in: query
        required: false
        schema:
          type: number
  /workflow/workflows:
    get:
      operationId: getWorkflowWorkflows
      summary: Returns a paginated breakdown of clustered workflows for a four-week period, sorted and filterable
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated breakdown of clustered workflows for a four-week period, sorted and filterable.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: toolIds
        in: query
        required: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/workflows/{workflowId}:
    get:
      operationId: getWorkflowWorkflowsByWorkflowid
      summary: Returns detailed metrics, recommendations, and the step sequence for a single workflow. Returns 404 if the...
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed metrics, recommendations, and the step sequence for a single workflow. Returns 404 if the workflow does not exist in the given period.
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
  /workflow/raw-workflows:
    get:
      operationId: getWorkflowRawWorkflows
      summary: Returns raw (per-user, per-day) workflows for a list of users over a date range, sorted by
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: userEmails
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/recommendations:
    get:
      operationId: getWorkflowRecommendations
      summary: Returns a paginated list of workflow improvement recommendations, ordered by priority
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated list of workflow improvement recommendations, ordered by priority.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/reporting-groups:
    get:
      operationId: getWorkflowReportingGroups
      summary: Returns a paginated, sortable breakdown of workflow friction metrics per reporting group
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable breakdown of workflow friction metrics per reporting group.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/ai/breakdown:
    get:
      operationId: getWorkflowAiBreakdown
      summary: Returns AI vs. non-AI clustered-workflow counts and AI-impact verdict tallies (helps / hurts / neutral)
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI vs. non-AI clustered-workflow counts and AI-impact verdict tallies (helps / hurts / neutral).
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
  /workflow/ai/category-outcome-breakdown:
    get:
      operationId: getWorkflowAiCategoryOutcomeBreakdown
      summary: Returns workflow outcome distribution by category, split into AI-assisted vs. non-AI cohorts
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns workflow outcome distribution by category, split into AI-assisted vs. non-AI cohorts.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
  /workflow/tools/overview:
    get:
      operationId: getWorkflowToolsOverview
      summary: Returns a summary of tool usage and friction across all tools
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a summary of tool usage and friction across all tools.
  /workflow/tools/search:
    get:
      operationId: getWorkflowToolsSearch
      summary: Returns a paginated, sortable, searchable list of tools
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable, searchable list of tools.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/tools/{toolId}:
    get:
      operationId: getWorkflowToolsByToolid
      summary: Returns detailed metrics for a single tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed metrics for a single tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/verdict:
    get:
      operationId: getWorkflowToolsByToolidVerdict
      summary: Returns the AI-impact verdict and recommendation for a tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns the AI-impact verdict and recommendation for a tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/category-outcome:
    get:
      operationId: getWorkflowToolsByToolidCategoryOutcome
      summary: Returns workflow outcome distribution for workflows that use the tool vs. those that do not
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns workflow outcome distribution for workflows that use the tool vs. those that do not.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/frictions:
    get:
      operationId: getWorkflowToolsByToolidFrictions
      summary: Returns friction-type tallies for workflows that use the tool vs. those that do not
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns friction-type tallies for workflows that use the tool vs. those that do not.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/workflows:
    get:
      operationId: getWorkflowToolsByToolidWorkflows
      summary: Returns a paginated, sortable list of workflows comparing usage with vs. without the tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable list of workflows comparing usage with vs. without the tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
