openapi: 3.1.0
info:
  title: Larridin Scout Adoption Surveys API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence. All documented endpoints are read-only (GET) and return the standard Scout envelope `{ "success": true, "data": {...}, "query": {...} }`.


    Generated by the API Evangelist enrichment pipeline as a faithful transcription of the provider''s public reference at https://docs.larridin.com/api/scout-api-v1-reference. It is not a provider-published specification.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Surveys
  description: Survey campaigns, questions, options, and responses.
paths:
  /surveys:
    get:
      operationId: getSurveys
      summary: Returns paginated list of survey campaigns
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns paginated list of survey campaigns.
      parameters:
      - name: types
        in: query
        required: false
        schema:
          type: string
      - name: statuses
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: desc
        in: query
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id001
            type: string
      - name: campaign[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /surveys/{survey_id}:
    get:
      operationId: getSurveysBySurveyId
      summary: GET /surveys/:survey_id
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
  /surveys/{survey_id}/questions:
    get:
      operationId: getSurveysBySurveyIdQuestions
      summary: GET /surveys/:survey_id/questions
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
  /surveys/{survey_id}/questions/{question_id}/options:
    get:
      operationId: getSurveysBySurveyIdQuestionsByQuestionIdOptions
      summary: GET /surveys/:survey_id/questions/:question_id/options
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: graphType
        in: query
        required: false
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: option[]
        in: query
        required: false
        schema:
          type: array
          items: &id002
            type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id002
  /surveys/{survey_id}/questions/{question_id}/responses:
    get:
      operationId: getSurveysBySurveyIdQuestionsByQuestionIdResponses
      summary: GET /surveys/:survey_id/questions/:question_id/responses
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id003
            type: string
      - name: role[]
        in: query
        required: false
        schema:
          type: array
          items: *id003
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
