openapi: 3.1.0
info:
  title: Larridin Scout API
  version: v1
  summary: Enterprise AI adoption, fluency, governance, and workflow intelligence metrics.
  description: 'The Larridin Scout API exposes the metrics behind Larridin Scout: AI adoption, AI proficiency
    (fluency), AI tool inventory and policy enforcement, employee surveys, and workflow intelligence.
    All documented endpoints are read-only (GET) and return the standard Scout envelope `{ "success":
    true, "data": {...}, "query": {...} }`.


    Generated by the API Evangelist enrichment pipeline as a faithful transcription of the provider''s
    public reference at https://docs.larridin.com/api/scout-api-v1-reference. It is not a provider-published
    specification.'
  contact:
    name: Larridin
    url: https://larridin.com/contact
  termsOfService: https://larridin.com/terms-of-use
  x-generated-by: api-evangelist-enrichment-pipeline
  x-source: https://docs.larridin.com/api/scout-api-v1-reference
servers:
- url: https://scout-api.larridin.com/api/v1
  description: Production
security:
- companyApiKey: []
tags:
- name: Adoption
  description: Organization- and department-level AI adoption metrics.
- name: Proficiency
  description: AI proficiency scoring, prompt categories, and conversation metrics. Period-based selection.
- name: Tools
  description: Browser and desktop AI tool adoption, policy enforcement, and unapproved tool discovery.
- name: Surveys
  description: Survey campaigns, questions, options, and responses.
- name: Workflow Intelligence
  description: Clustered workflow analysis, friction, recommendations, and tool verdicts.
paths:
  /adoption/overview:
    get:
      operationId: getAdoptionOverview
      summary: Returns organization-level or department-level AI adoption overview metrics
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns organization-level or department-level AI adoption overview metrics.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: &id001
            type: string
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
  /adoption/trends:
    get:
      operationId: getAdoptionTrends
      summary: Returns time-series adoption metrics with optional grouping
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series adoption metrics with optional grouping.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: metrics
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: platform[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /adoption/breakdown:
    get:
      operationId: getAdoptionBreakdown
      summary: Returns detailed breakdown of AI adoption by tools or departments, with pagination
      tags:
      - Adoption
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed breakdown of AI adoption by tools or departments, with pagination.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: platform[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: aiTypes[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /proficiency/score:
    get:
      operationId: getProficiencyScore
      summary: Returns AI proficiency score snapshot with prior-period comparison
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI proficiency score snapshot with prior-period comparison.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /proficiency/trends:
    get:
      operationId: getProficiencyTrends
      summary: Returns time-series AI proficiency score data
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series AI proficiency score data.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: percentiles[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /proficiency/prompt-categories:
    get:
      operationId: getProficiencyPromptCategories
      summary: Returns AI topic/prompt classification breakdown
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI topic/prompt classification breakdown.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: topics[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /proficiency/conversation-metrics:
    get:
      operationId: getProficiencyConversationMetrics
      summary: Returns time-series conversation-level interaction metrics
      tags:
      - Proficiency
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series conversation-level interaction metrics.
      parameters:
      - name: periodType
        in: query
        required: true
        schema:
          type: string
      - name: period
        in: query
        required: true
        schema:
          type: number
      - name: year
        in: query
        required: true
        schema:
          type: number
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /tools/browser/overview:
    get:
      operationId: getToolsBrowserOverview
      summary: Returns browser platform AI adoption overview metrics
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns browser platform AI adoption overview metrics.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
  /tools/browser/trends:
    get:
      operationId: getToolsBrowserTrends
      summary: Returns time-series browser adoption data
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns time-series browser adoption data.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /tools/browser/breakdown:
    get:
      operationId: getToolsBrowserBreakdown
      summary: Returns detailed breakdown of browser AI usage by tools or departments
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed breakdown of browser AI usage by tools or departments.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: groupBy
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /tools/desktop/overview:
    get:
      operationId: getToolsDesktopOverview
      summary: Same parameters as browser overview. Returns
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/desktop/trends:
    get:
      operationId: getToolsDesktopTrends
      summary: Same parameters as browser trends. Same response shape
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Same parameters as browser trends. Same response shape.
  /tools/desktop/breakdown:
    get:
      operationId: getToolsDesktopBreakdown
      summary: Desktop breakdown is tools-only (no department grouping)
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Desktop breakdown is tools-only (no department grouping).
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: tool[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /tools/{toolId}:
    get:
      operationId: getToolsByToolid
      summary: Returns metrics for a specific tool over time
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns metrics for a specific tool over time.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
  /tools/user-tool-usage:
    get:
      operationId: getToolsUserToolUsage
      summary: Returns user-level AI tool usage data
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns user-level AI tool usage data.
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: departmentName[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: userEmail[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: toolName[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: toolDomain[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /tools/policy/enforcement-overview:
    get:
      operationId: getToolsPolicyEnforcementOverview
      summary: GET /tools/policy/enforcement-overview
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/policy/enforcement-breakdown:
    get:
      operationId: getToolsPolicyEnforcementBreakdown
      summary: GET /tools/policy/enforcement-breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/policy/breakdown:
    get:
      operationId: getToolsPolicyBreakdown
      summary: GET /tools/policy/breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/unapproved/overview:
    get:
      operationId: getToolsUnapprovedOverview
      summary: GET /tools/unapproved/overview
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /tools/unapproved/breakdown:
    get:
      operationId: getToolsUnapprovedBreakdown
      summary: GET /tools/unapproved/breakdown
      tags:
      - Tools
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /surveys:
    get:
      operationId: getSurveys
      summary: Returns paginated list of survey campaigns
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns paginated list of survey campaigns.
      parameters:
      - name: types
        in: query
        required: false
        schema:
          type: string
      - name: statuses
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: desc
        in: query
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: campaign[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /surveys/{survey_id}:
    get:
      operationId: getSurveysBySurveyId
      summary: GET /surveys/:survey_id
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
  /surveys/{survey_id}/questions:
    get:
      operationId: getSurveysBySurveyIdQuestions
      summary: GET /surveys/:survey_id/questions
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
  /surveys/{survey_id}/questions/{question_id}/options:
    get:
      operationId: getSurveysBySurveyIdQuestionsByQuestionIdOptions
      summary: GET /surveys/:survey_id/questions/:question_id/options
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: granularity
        in: query
        required: false
        schema:
          type: string
      - name: graphType
        in: query
        required: false
        schema:
          type: string
      - name: groupBy
        in: query
        required: false
        schema:
          type: string
      - name: option[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /surveys/{survey_id}/questions/{question_id}/responses:
    get:
      operationId: getSurveysBySurveyIdQuestionsByQuestionIdResponses
      summary: GET /surveys/:survey_id/questions/:question_id/responses
      tags:
      - Surveys
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: survey_id
        in: path
        required: true
        schema:
          type: string
      - name: question_id
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: department[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
      - name: role[]
        in: query
        required: false
        schema:
          type: array
          items: *id001
  /workflow/overview:
    get:
      operationId: getWorkflowOverview
      summary: Returns organization-level (or reporting-group–scoped) workflow friction and AI-clustering
        summary
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns organization-level (or reporting-group–scoped) workflow friction and AI-clustering
        summary.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
  /workflow/completed-periods:
    get:
      operationId: getWorkflowCompletedPeriods
      summary: Returns the most recent four-week periods that have completed workflow data. Use these
        as valid
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: numPeriods
        in: query
        required: false
        schema:
          type: number
  /workflow/workflows:
    get:
      operationId: getWorkflowWorkflows
      summary: Returns a paginated breakdown of clustered workflows for a four-week period, sorted and
        filterable
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated breakdown of clustered workflows for a four-week period, sorted
        and filterable.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: toolIds
        in: query
        required: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/workflows/{workflowId}:
    get:
      operationId: getWorkflowWorkflowsByWorkflowid
      summary: Returns detailed metrics, recommendations, and the step sequence for a single workflow.
        Returns 404 if the...
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed metrics, recommendations, and the step sequence for a single workflow.
        Returns 404 if the workflow does not exist in the given period.
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
  /workflow/raw-workflows:
    get:
      operationId: getWorkflowRawWorkflows
      summary: Returns raw (per-user, per-day) workflows for a list of users over a date range, sorted
        by
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: userEmails
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/recommendations:
    get:
      operationId: getWorkflowRecommendations
      summary: Returns a paginated list of workflow improvement recommendations, ordered by priority
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated list of workflow improvement recommendations, ordered by priority.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/reporting-groups:
    get:
      operationId: getWorkflowReportingGroups
      summary: Returns a paginated, sortable breakdown of workflow friction metrics per reporting group
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable breakdown of workflow friction metrics per reporting
        group.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/ai/breakdown:
    get:
      operationId: getWorkflowAiBreakdown
      summary: Returns AI vs. non-AI clustered-workflow counts and AI-impact verdict tallies (helps /
        hurts / neutral)
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns AI vs. non-AI clustered-workflow counts and AI-impact verdict tallies (helps
        / hurts / neutral).
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
  /workflow/ai/category-outcome-breakdown:
    get:
      operationId: getWorkflowAiCategoryOutcomeBreakdown
      summary: Returns workflow outcome distribution by category, split into AI-assisted vs. non-AI cohorts
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns workflow outcome distribution by category, split into AI-assisted vs. non-AI
        cohorts.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
  /workflow/tools/overview:
    get:
      operationId: getWorkflowToolsOverview
      summary: Returns a summary of tool usage and friction across all tools
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a summary of tool usage and friction across all tools.
  /workflow/tools/search:
    get:
      operationId: getWorkflowToolsSearch
      summary: Returns a paginated, sortable, searchable list of tools
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable, searchable list of tools.
      parameters:
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
  /workflow/tools/{toolId}:
    get:
      operationId: getWorkflowToolsByToolid
      summary: Returns detailed metrics for a single tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns detailed metrics for a single tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/verdict:
    get:
      operationId: getWorkflowToolsByToolidVerdict
      summary: Returns the AI-impact verdict and recommendation for a tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns the AI-impact verdict and recommendation for a tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/category-outcome:
    get:
      operationId: getWorkflowToolsByToolidCategoryOutcome
      summary: Returns workflow outcome distribution for workflows that use the tool vs. those that do
        not
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns workflow outcome distribution for workflows that use the tool vs. those that
        do not.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/frictions:
    get:
      operationId: getWorkflowToolsByToolidFrictions
      summary: Returns friction-type tallies for workflows that use the tool vs. those that do not
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns friction-type tallies for workflows that use the tool vs. those that do not.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
  /workflow/tools/{toolId}/workflows:
    get:
      operationId: getWorkflowToolsByToolidWorkflows
      summary: Returns a paginated, sortable list of workflows comparing usage with vs. without the tool
      tags:
      - Workflow Intelligence
      security:
      - companyApiKey: []
      responses:
        '200':
          description: Successful response using the standard Scout envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      description: Returns a paginated, sortable list of workflows comparing usage with vs. without the
        tool.
      parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
      - name: periodStart
        in: query
        required: true
        schema:
          type: string
      - name: periodEnd
        in: query
        required: true
        schema:
          type: string
      - name: granularity
        in: query
        required: true
        schema:
          type: string
      - name: reportingGroupId
        in: query
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: number
      - name: limit
        in: query
        required: false
        schema:
          type: number
components:
  securitySchemes:
    companyApiKey:
      type: apiKey
      in: header
      name: x-company-api-key
      description: Company API key. The ANALYTICS scope is required for Scout API v1 endpoints.
  schemas:
    SuccessEnvelope:
      type: object
      description: Standard Scout success envelope. The `data` shape varies by endpoint.
      properties:
        success:
          type: boolean
          const: true
        data:
          description: Endpoint-specific payload.
        query:
          type: object
          description: Echo of the resolved query parameters.
      required:
      - success
      - data
    PaginatedData:
      type: object
      description: Pagination envelope used by breakdown and list endpoints.
      properties:
        data:
          type: array
          items: {}
        total:
          type: integer
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          maximum: 100
    Error:
      type: object
      properties:
        success:
          type: boolean
          const: false
        error:
          type: string
          description: Human-readable error message.
      required:
      - success
      - error
    ValidationError:
      type: object
      properties:
        error:
          type: string
          const: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  responses:
    ValidationError:
      description: Bad Request — validation failure or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found — resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
